
@using bbelt.Models
@model bbelt.Models.User


<div class="navb">
    <div class="row">
        <div class="col-md-12">
            <div class="brand">Activityhub</div>
            <ul class="links-left">
                <li>Welcome @ViewBag.user.FirstName</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<br>

@foreach (var activ in @ViewBag.activities)
{
}

<div class="activity-list">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Date and Time</th>
                        <th>Duration</th>
                        <th>Event Coordinator</th>
                        <th># of Participants</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var activ in @ViewBag.activities)
                    {
                        bool isThere = false;

                        @foreach (var part in @activ.Participants)
                        {
                            @if (@part.ParticipantId == @ViewBag.user.UserId)
                            {
                                isThere = true;
                            }
                        }

                        <td><a href="/activity/@activ.ActivityId">@activ.Title</a></td>
                        <td>@activ.DateAt</td>
                        <td>@activ.Duration @activ.DurationInc</td>
                        <td>@activ.Creator.FirstName</td>
                        <td>@activ.Participants.Count</td>
                        <td>
                            @if (@activ.Creator.UserId == @ViewBag.user.UserId)
                            {
                                <a href="#">Delete</a>
                            }
                            else if (isThere)
                            {
                                <a href="#">Leave</a>
                            }
                            else
                            {
                                <a href="#">Join</a>   
                            }
                        </td>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/new" class="btn btn-primary">+ New Activity</a>
    </div>
</div>