
<div class="navb">
    <div class="row">
        <div class="col-md-12">
            <div class="brand">Activityhub</div>
            <ul class="links-left">
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="single-activity">
    <div class="row">
        <div class="col-md-8">
            <h1>@ViewBag.activity.Title</h1>
            
            <hr>

            <b>Event Coordinatior: </b> <p class="coordinator-name">@ViewBag.activity.Creator.FirstName @ViewBag.activity.Creator.LastName</p>

            <b>Description: </b>
            <p class="activity-descr">@ViewBag.activity.Description</p>

            <b>Participants</b>
            <ul class="participants">
                @foreach (var part in @ViewBag.activity.Participants)
                {
                    <li class="participant">@part.Participant.FirstName @part.Participant.LastName</li>
                }
            </ul>

        </div>
    </div>
</div>